.container, .container-lg, .container-md, .container-sm, .container-xl {
    /* max-width: 1214px; */
    max-width: 100%;
}

.horizontal{
    background: #f1e9e9;
}


.table {
    width: 50%;
    margin-bottom: 1rem;
    color: #212529;
    margin-left: 30px;
}

.editButton{
    cursor: pointer;
  }